.Mainbackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* objectFit:  scale-down ;
    objectFit:  fill ; */
  background-position: "center center";
  object-fit: none;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.Maintitle {
  object-fit: scale-down;
  padding-top: 10vh;
  margin: 0;
}
@media screen and (min-width: 740px) {
  /* 740px以上 */
  .Mainbackground {
    height: 60rem;
    width: 100%;
  }
  .Maintitle {
    /* margin-top: 2vw; */
    width: 60%;
    /* height: 60%; */
  }
}
@media screen and (max-width: 740px) {
  /* 740px以下 */

  .Mainbackground {
    height: 30rem;
    width: 100%;
  }
  .Maintitle {
    margin-top: auto;
    margin-bottom: auto;

    width: 90%;
    /* height: 60%; */
  }
}
