.WorkBlock {
  background: #f8fafd;
  /* padding: 5vh;*/
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
}
@media screen and (min-width: 930px) {
  .WorkBlock {
    width: 60%;
  }
}
@media (min-width: 500px) and (max-width: 930px) {
  .Background {
    background: #d9d9d9;
    padding: 0 5vw;
  }
  .WorkBlock {
    width: 80%;
    padding: 0 5vh;
  }
}
@media screen and (max-width: 500px) {
  .WorkBlock {
    width: 100%;
    padding: 2vh;
  }
  .Background {
    background: #d9d9d9;
    padding: 0;
  }
}
