.TracksBackground {
  min-height: 100vh;
}
@media screen and (min-width: 500px) {
  .TracksBackground {
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #6aadd9 0.01%,
      rgba(0, 249, 255, 0) 56.56%,
      rgba(240, 240, 240, 0) 100%
    );
    /* background: #d9d9d9; */
    padding: 0 5vh 1.5vh;
  }
}
@media screen and (max-width: 500px) {
  .Background {
    padding: 0;
  }
}
