.Tabsbutton {
  background: none;
  border: 0;
  color: #8b8b8b;
  margin: 0;
  &:hover {
    color: #000;
  }
}
@media screen and (min-width: 500px) {
  .Tabsbutton {
    font-size: 2rem;
  }
  /* .TracksH1 {
    font-size: 1.5rem;
  } */
}
/* 手機尺寸 */
@media screen and (max-width: 480px) {
  .Tabsbutton {
    font-size: 3vh;
  }
}
