.container h2 {
  padding: 2rem 2rem;
  text-align: center;
  justify-content: center;
}

/*=========p1 Style===========*/

.p1 li {
  list-style: circle;
}

/*=========p2 Style===========*/
.p2 {
  margin: 2rem 0;
  padding: 2rem 0;
}

.p2 li {
  margin: 0;
  padding: 0;
}
/*=========p3 Style===========*/

.p3 {
  margin: 0;
  padding: 2rem 0;
}
.p3 {
  text-align: start;
  justify-content: center;
}
.p3 li {
  list-style: circle;
}
/* ========== */

.NewsH3 {
  letter-spacing: 5px;
}
.ContentBlock {
  width: 80% !important;
}
/* @media screen and (min-width: 1400px) {
  .NewsP {
    font-size: 1.5rem;
  }
  .Newh3 {
    font-size: 2.5rem;
  }
  .Newh5 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 930px) and (max-width: 1400px) {
  .NewsP {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 930px) {
  .NewsP {
    font-size: 1rem;
  }
}*/
@media screen and (min-width: 930px) {
  .NewsP {
    font-size: 1rem;
  }
}
@media (min-width: 500px) and (max-width: 930px) {
  .NewsP {
    font-size: 2vmin;
  }
}
@media screen and (max-width: 500px) {
  .NewsP {
    font-size: 2vmin;
  }
  .NewsH3 {
    letter-spacing: 0;
  }
  .ContentBlock {
    width: 100%;
  }
}
