.nav {
  background: #000;
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center;
  /* justify-content: space-between; */
  height: 15%;
  width: 100%;
  padding: 20px 0;
}
.toggler__icon {
  cursor: pointer;
  display: none;
}
.toggler__icon div {
  position: absolute;
  margin: 0;
  font-size: 2.5rem;
  color: #ddd;
  width: 40px;
  height: 35px;
  right: 10px;
  top: 0;
  transition: 0.3s ease;
}
.nav__collapse {
  display: "flex";
  /* justify-content: " space-evenly"; */
}
.nav__menu {
  width: 100%;
  display: flex;
  margin: 0;
  z-index: 999;
  white-space: nowrap;
}
@media screen and (min-width: 930px) {
  .nav__menu {
    justify-content: space-evenly;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 930px) {
  .nav__menu {
    display: flex;
    flex-direction: column !important;
    padding: 10px 0 15px 15px;
    background: #000;
    /* align-items: flex-start; */
    top: 4rem;
    width: 50%;
    right: 0%;
    /* transform: translateX(-210%); */

    position: absolute;

    transform: translateY(-300%);
    transition: 0.5s ease;
  }
  .nav__collapse {
    transform: translateY(0%) !important;
  }
  .toggler__icon {
    font-size: 5rem;
    display: block;
    background-color: #fff;
    font: #fff;
  }
}
@media screen and (max-width: 500px) {
  .nav__menu {
    font-size: 20px;
  }
}
