/* Navbar */

.nav {
  background: #000;
  display: flex;
  align-items: center;
  height: 15%;
  width: 100%;
  padding: 20px 0;
  /* position: absolute; */
}

.nav__brand {
  font-size: 30px;
  font-weight: 700;
  color: #ddd;
}
.nav__item {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
.nav__item:hover {
  transform: scale(1);
  transition: all 0.3s ease;
  /* border-bottom: #fff 2px solid; */
}

.nav__menu {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 2rem;
  margin: 0;
  z-index: 999;
}

.nav__link {
  color: #ddd;
  text-decoration: none;
}
.nav__link:hover {
  color: #ddd;
  text-decoration: none;
}

.toggler__icon {
  cursor: pointer;
  display: none;
}

.toggler__icon div {
  position: absolute;
  margin: 0;
  font-size: 2.5rem;
  color: #ddd;
  width: 40px;
  height: 35px;
  right: 10px;
  top: 0;
  transition: 0.3s ease;
}

@media screen and (max-width: 930px) {
  .toggler__icon {
    display: block;
  }
  .nav__menu {
    display: flex;
    margin-right: 0;
    position: absolute;
    background: #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 5.3rem;
    width: 50%;

    right: 0%;
    transform: translateX(-210%);
  }
}

.nav_content {
  position: absolute;
  padding: 10px 0px;
  background: #fff;
}

.nav__collapse {
  transform: translateX(0%);
}
/* --------------------------------- */
.dropbtn {
  background-color: #000;
  padding: 0;
  font-size: 1rem;
  color: #ddd;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.5rem 0.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #000;
}
