.Menu {
  text-decoration: none;
  color: #646363;
  &:hover {
    color: #53d0e0d2;
  }
}
.Subitems {
  text-decoration: none;
  color: #fff8f8;
  flex-direction: column;
}
.Submenu {
  display: none;
  flex-direction: column;
  border-radius: 3px;
  background-color: #a9dbdb;
  padding: 5px;
}
.Title {
  padding: 0 3px;
}
/* Top */
@media screen and (min-width: 1400px) {
  .Menu {
    font-size: 1.5rem;
  }

  .Menu:hover {
    /* padding: 0 2rem; */

    .Submenu {
      display: flex;
      flex-direction: column;
      position: absolute;
      /* top: 7rem;
      padding: 1vh; */
    }
    .Subitems {
      padding: 10px;
      font-size: 1.25rem;

      &:hover {
        color: #646363;
      }
    }
  }
}
@media screen and (min-width: 930px) and (max-width: 1400px) {
  /* 大於930px */
  .Menu {
    font-size: 1.2rem;
  }

  .Menu:hover {
    /* padding: 0 2rem; */

    .Submenu {
      display: flex;
      position: absolute;
    }

    .Subitems {
      padding: 3px;
      font-size: 1.1rem;

      &:hover {
        color: #000;
      }
    }
  }
}
/* sidbar */
@media screen and (min-width: 500px) and (max-width: 930px) {
  /* 小於930px */
  .Title {
    margin: 2px 0;
  }
  .Menu {
    margin-bottom: 1vw;
    /* width: 5vw; */
    /* height: 5vw; */
  }
  .Submenu {
    display: none;
  }
  /* .Menu:focus {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  } */
  .Menu:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      /* margin-left: 1vw; */
    }
  }
  .Menu:active {
    .Submenu {
      display: flex;
      flex-direction: column;
      /* margin-left: 1vw; */
    }
  }
  .Subitems {
    padding: 2px 0;
    &:hover {
      color: #53d0e0d2;
    }
  }
}
@media screen and (max-width: 500px) {
  .Title {
    padding-top: 2vw;
    /* width: 5vw;
    height: 5vw; */
  }
  .Menu {
    margin: 2vw 1vw;
  }

  .Submenu {
    display: none;
  }
  .Menu:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      /* margin-left: 1vw; */
    }
  }
  .Subitems {
    font-size: 1rem;
    white-space: pre;
    padding: 2px 0;
    &:hover {
      color: #53d0e0d2;
    }
  }
  /* .Menu:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  }
  .Menu:active {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  } */
  /*  */
}
