.Menu {
  text-decoration: none;
  /*display: flex;
  align-items: center; */
  color: #646363;
  &:hover {
    color: #53d0e0d2;
  }
}
.MenuContainer {
  display: flex;
  flex-direction: column;
}
.Subitems {
  text-decoration: none;
  color: #070707;
  white-space: pre-wrap;
}
.Submenu {
  display: none;
  flex-direction: column;
  border-radius: 3px;
  background-color: #a9dbdb;
  padding: 10px;
}
.Title {
  padding: 0 3px;
}
/* Top */
@media screen and (min-width: 1400px) {
  .Menu {
    font-size: 1.5rem;
  }

  .MenuContainer:hover {
    /* padding: 0 2rem; */
    align-items: flex-end;

    .Submenu {
      display: flex;
      flex-direction: column;
      top: 3.6rem;
      justify-content: space-evenly;
      height: 8rem;
      position: absolute;

      /* left: 3rem; */
      /* top: 7rem;
      padding: 1vh; */
    }
    .Subitems {
      /* padding: 10px; */
      font-size: 1.4rem;

      &:hover {
        color: #918d8d;
      }
    }
  }
}
@media screen and (min-width: 930px) and (max-width: 1400px) {
  /* 大於930px */
  .Menu {
    font-size: 1.2rem;
  }

  .MenuContainer:hover {
    /* padding: 0 2rem; */
    align-items: flex-end;

    .Submenu {
      display: flex;
      position: absolute;
      top: 3.4rem;
    }

    .Subitems {
      padding: 3px;
      font-size: 1.1rem;

      &:hover {
        color: #918d8d;
      }
    }
  }
}
/* sidbar */
/* 500以上 小於930px */
@media screen and (min-width: 500px) and (max-width: 930px) {
  /* 小於930px */
  .Title {
    margin: 2px 0;
  }
  .Menu {
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  .Submenu {
    display: none;
  }
  /* .Menu:focus {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  } */
  .MenuContainer:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      background-color: #ffffff;
      padding: 0;

      /* margin-left: 1vw; */
    }
  }
  .Menu:active {
    .Submenu {
      display: flex;
      flex-direction: column;
      /* margin-left: 1vw; */
    }
  }
  .Subitems {
    padding: 2px 0;
    font-size: 1.2rem;

    &:hover {
      color: #53d0e0d2;
    }
  }
}
/* 500以下 */
@media screen and (max-width: 500px) {
  /* .Title {
    padding-top: 2vw;
   
  }

  .Submenu {
    display: none;
  }
  .Menu:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      padding: 0;


    }
  }
  .Subitems {
    font-size: 1rem;
    white-space: pre;
    padding: 2px 0;
  } */

  .Title {
    margin: 2px 0;
  }
  .Menu {
    margin-bottom: 1vw;
    color: #000000;
    /* width: 5vw; */
    /* height: 5vw; */
  }
  .Submenu {
    display: none;
  }
  /* .Menu:focus {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  } */
  .Menu:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      background-color: #ffffff;
      padding: 0;

      /* margin-left: 1vw; */
    }
  }
  .Menu:active {
    .Submenu {
      display: flex;
      flex-direction: column;
      /* margin-left: 1vw; */
    }
  }
  .Subitems {
    padding: 2px 0;
    &:hover {
      color: #53d0e0d2;
    }
  }

  /* .Menu:hover {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  }
  .Menu:active {
    .Submenu {
      display: flex;
      flex-direction: column;
      margin-left: 1vw;
    }
  } */
  /*  */
}
