.Menu {
  text-decoration: none;
  color: #ddd;
}
.Submenu {
  display: flex;
  flex-direction: column;
}
.Subitems {
  text-decoration: none;
  color: #ddd;
  margin-top: 2px;
  margin-left: 2vw;
}

@media screen and (max-width: 930px) {
  .Title {
    padding-top: 2rem;
  }
  .Menu {
    margin: 2vw 2vw;
  }
}
@media screen and (min-width: 930px) {
  .Submenu {
    border-radius: 5px;
    background-color: #ddd;
    box-shadow: 2px 2px #dcdcdc;
    position: absolute;
    top: 60px;
  }
  .Subitems {
    margin: 0 1vw;
    color: #000;
  }
}
