.ActiveBlock {
  background: #f8fafd;
  /* padding: 5vh;*/
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
}

@media screen and (min-width: 930px) {
  .ActiveBlock {
    width: 80%;
  }
  .Content,
  .Content li {
    font-size: 1rem;
  }

  .Background {
    background: #d9d9d9;
    padding: 0 5vh 5vh;
  }
}
@media (min-width: 500px) and (max-width: 930px) {
  .ActiveBlock {
    width: 80%;
  }
  .Background {
    background: #d9d9d9;
    padding: 0 5vh 5vh;
  }
}
@media screen and (max-width: 500px) {
  .ActiveBlock {
    width: 100%;
    padding: 2vh;
  }
  .Background {
    background: #d9d9d9;
    padding: 0;
  }
}
