.ActiveBlock {
  background: #f8fafd;
  padding: 5vh;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Background {
  background: #d9d9d9;
  padding: 0 5vw;
}
@media screen and (max-width: 500px) {
  .ActiveBlock {
    width: 100%;
  }
}
@media screen and (min-width: 930px) {
  .ActiveBlock {
    width: 60%;
  }
}
@media (min-width: 500px) and (max-width: 930px) {
  .Background {
    padding: 0;
  }
  .ActiveBlock {
    width: 80%;
  }
}
