.IntroductionTabcontainer {
  /* width: 80%; */

  margin: auto;
  padding: 5rem 0;
  /* background:  #f6fcfffb ; */
}
@media screen and (min-width: 500px) {
  .IntroductionTabcontainer {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .IntroductionTabcontainer {
    width: 95%;
  }
}
