.Block {
  background: #f8fafd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.SignupLink {
  text-decoration: none;
  font-weight: bold;
  color: #3087a7;
}
@media screen and (min-width: 500px) {
  .Block {
    width: 80%;

    justify-content: center;
  }
  .Background {
    background: #d9d9d9;
    padding: 0 5vh 5vh;
  }
}
@media screen and (max-width: 500px) {
  .Block {
    width: 100%;
    /* padding: 0 5vh; */
  }
  .Background {
    background: #d9d9d9;
    align-items: flex-end;

    padding: 0;
  }
}
