* {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
body {
  margin: 0;
}
p {
  text-align: justify;
}
ul {
  font-size: 18px;
}
li {
  font-size: 18px;
}
.AllBackground {
  background: #f3f4f6;
  padding: 0 5vh 1vh;
}
.AllContentBackground {
  background: #fdfdfd;
  padding: 2vw 0;
  min-height: 100vh;
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2.3rem !important;
  }
  p {
    font-size: 18px;
  }
}
@media screen and (min-width: 930px) and (max-width: 1400px) {
  h2 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 930px) {
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 4vw;
  }
}
